#### marketing

In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
# pd.set_option('display.max_colwidth',20) #change this to increse width cutoff limit
plt.rcParams['figure.figsize'] = [20, 10]
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
plt.rcParams['axes.facecolor'] = 'black'

In [2]:
by_good = pd.read_excel('by_name.xls',skiprows=list(range(8)),header = 0,na_values=[' ']).fillna(0)
by_good = by_good.drop(columns = ['Unnamed: 1','Unnamed: 2'])
by_good = by_good.rename(columns={'Unnamed: 0':'name','единица':'amt',
                                  'Сумма':'in','Сумма.1':'Out','Процент':'Prof %','Сумма.2':'Profit'})

drop = [0,3261] 
# # Profit <=0
# drop_old = [742, 1041, 326, 325, 1468, 2304, 1733, 751, 1289, 2294,584,1456, 1505, 2460, 686, 758, 378, 1294, 2552, 2639, 844, 
#          2437, 3106, 80, 2686, 125, 3124, 1753, 92, 330, 1544, 2446, 2395, 1903, 79, 1887, 2673, 986, 2384, 2398, 2739, 2621,
#          2828, 2810, 1073, 696, 31, 2812, 2811, 2229, 24, 1932, 1884, 49, 63, 2742, 3098, 75, 682, 1206, 1380, 744, 2259, 48, 
#          1823, 3118,83, 136, 199, 286, 741, 846, 919, 943, 1063, 1245, 1638, 1857]
drop += [769, 1082, 113, 332, 333, 1531, 2133, 2401, 799, 1804, 1519, 778, 1338, 2391, 1518, 1568, 2567, 707, 787, 385, 1344, 2665,
         454, 2717, 2755, 2543, 3236, 85, 2561, 132, 2803, 3254, 1828, 97, 337, 1609, 2552, 2500, 3211, 1984, 84, 1968, 2790, 875, 
         1021, 2489, 1469, 1900, 2437, 2503, 2856, 2431, 2537, 2737, 2950, 2928, 1118, 2559, 719, 33, 2930, 2929, 2323, 26, 2013, 
         1965, 1812, 54, 68, 2859, 3227, 1450, 80, 703, 602, 1253, 1437, 771, 2353, 53, 1898, 3248, 2130, 953, 768, 1705, 143, 1934, 
         1292, 206, 1107, 877, 293, 1037, 977]
# # Unreal profit
drop+= [3170, 821, 90, 730, 1682, 1538, 1539, 1541, 2122, 62, 2299, 694, 819, 4, 1, 2]
# drop_old += [1,2,3042, 791, 85, 707, 1615, 1475, 1476, 1478, 2038, 57, 2208, 673, 789, 4, 2685]
# drop += [268
df = by_good.drop(drop)
# df = df.reset_index(drop=True)
df

                                  name    amt      in      Out  Prof %  Profit
3              20 Знак нагрудный (№ 9)    5.0    50.0    100.0  100.00    50.0
5     200 Отл. караул. зн  нагруд. № 7    1.0    23.0     50.0  117.39    27.0
6                      46/176 К-м ВКБО    4.0  5600.0  11200.0  100.00  5600.0
7                      48/170 К-м ВКБО    2.0  2800.0   5600.0  100.00  2800.0
8                      48/176 К-м ВКБО    3.0  4200.0   8400.0  100.00  4200.0
...                                ...    ...     ...      ...     ...     ...
3256                       Эмблема п/а  256.0  4260.0   7680.0   80.28  3420.0
3257           Эмблема УФСИН п/а черн.  100.0  2000.0   3997.6   99.88  1997.6
3258                       Якорь 24 мм    8.0    56.0    120.0  114.29    64.0
3259                       Якорь 34 мм    5.0    50.0    100.0  100.00    50.0
3260                       Якорь 60 мм    1.0    17.0     35.0  105.88    18.0

[3149 rows x 6 columns]

In [3]:
def prt_summary(df,colName = 'Profit'):
    '''Prints statistical data for the DataFrame'''
    print(colName.center(130,'='))

    print(
        'mean   :{} '.format(df[colName].mean()),
        'std_dev:{} '.format(df[colName].std()),
        'Max:    {} '.format(df[colName].max()),
        'Min:    {} '.format(df[colName].min()),
        sep='\n'

         )
    print('MIN/MAX'.center(130,'-'))
    print(
        df[df[colName]==df[colName].max()].sort_values(colName),
        df[df[colName]==df[colName].min()].sort_values(colName),
        sep = '\n'
    )

In [4]:
def graphs(df,colName='Profit'):
    for i in reversed(df.columns[[1,-2,-1]]):
        prt_summary(df,colName=i)
        plt.figure()
        plt.yscale('log')
        df[i].hist(bins=50)
        plt.show()

#### Unexpected data:

In [5]:
# Items with negative profit
col = 'Profit'  
df.loc[lambda df: df[col]<=0].sort_values(col).index

Int64Index([], dtype='int64')

In [6]:
# items with unrealistic prof %
df[df['Prof %']>200].sort_values('Prof %').index

Int64Index([], dtype='int64')

#### Goods by quartile

In [7]:
col = 'Profit'
q = {}
q[1] = df.loc[lambda df: df[col] > df.quantile(0.75)[col]]
q[4] = df.loc[lambda df:df[col] < df.quantile(0.25)[col]]
q[23] = df.drop(q[1].index)
q[23] = q[23].drop(q[4].index)